@charset "UTF-8";

*{
    height: 100%;
}

body{
background-image: linear-gradient(to left, #079DD9,#91E0F2 );
}

main{background-color: white;width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #079DD9;
    padding: 10px;
margin: auto;}

h1{color: #079DD9; text-align: center;
    text-shadow: 1px 1px 1px #09212cc7 ;
}
h2{color:#58A664 ; ;

}