@charset "utf-8";



*{
    margin: 0px;
    padding: 0px;
}
html, body{ 
    height: 95vh;
    width: 98vw;
  background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
main{
 
   margin: 0px;
    
}
section#telefone{
    position:absolute;
    height:627px;
    width:311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ;
    background: url('../imagens/frame-iphone.png') no-repeat fixed;
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
 
}
section#icones{
    text-align: right;
}
section#icones img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}
section#icones img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    transition: transform , 0.3, border 1s;
    
}